{% extends "base.html" %}
{% block content %}


<div class="container bg-light p-3">
    <h2 class="mt-4 text-capitalize text-monospace text-uppercase">Here Is The Movies</h2>

    <div class="row justify-content-start">

        <div class="row">
            {% for i in i_obj %}

            <div class="col-md-4 mt-3 pt-2">
                <div class="m-5 shadow">

                    <div class="card w-100" style="height:540px;" >
                        <img class="card-img-top " src="{{i.img.url}}" alt="Card image cap" height="360px" width="240px">
                        <div class="card-body justify-content-center">
                            <h5 class="card-title truncate-1-lines">{{i.name}}</h5>
                            <div class="truncate-3-lines h-50 ">
                                <p class="card-text">{{i.desc}}.</p>
                            </div>

                            <a href="{% url 'details_page' i.id %}" class="btn btn-primary m-0 ">View Details</a>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>

    </div>

</div>

<style>
    .truncate-3-lines {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .truncate-1-lines {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>

{% endblock content %}